<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.backend.hyunfit.domain.erm.mapper.ErmMapper">

<!--   Insert All에는 PK가 자동으로 증가하지 않기 때문에 사용 불가능-->
<!--    <insert id="insertBulkErm" parameterType="ErmDTO">-->
<!--        INSERT ALL-->
<!--        <foreach collection="erms" index="index" item="dto" separator=" ">-->
<!--             INTO EXERCISE_ROUTINE_MAPPING (ERM_SEQ, RTN_SEQ, EXC_SEQ)-->
<!--             VALUES (default, #{dto.rtnSeq}, #{dto.excSeq})-->
<!--        </foreach>-->
<!--        SELECT 1 FROM dual-->
<!--    </insert>-->
        <insert id="insertOneErm" parameterType="ErmDTO">
            INSERT INTO EXERCISE_ROUTINE_MAPPING
                (ERM_SEQ, RTN_SEQ, EXC_SEQ)
            VALUES (default, #{rtnSeq}, #{excSeq})
        </insert>

</mapper>