<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.backend.hyunfit.domain.mbr.mapper.MemberMapper">

    <select id="selectOneMemberById" parameterType="String" resultType="MemberDTO">
        SELECT mbr_id,
               mbr_pw,
               mbr_name,
               mbr_total_point,
               mbr_total_exp,
               mbr_birthdate,
               mbr_gender,
               mbr_height,
               mbr_weight,
               mbr_exercise_goal,
               mbr_exercise_experience_level,
               mbr_exercise_preference,
               mbr_knee_health,
               mbr_noise_consideration,
               mbr_sitting_duration,
               mbr_neck_shoulder_focused
        FROM member
        WHERE mbr_id = #{mbrId}
    </select>
    <select id="selectOneMemberBySeq" parameterType="_long" resultType="MemberDTO">
        SELECT mbr_id,
               mbr_pw,
               mbr_name,
               mbr_total_point,
               mbr_total_exp,
               mbr_birthdate,
               mbr_gender,
               mbr_height,
               mbr_weight,
               mbr_exercise_goal,
               mbr_exercise_experience_level,
               mbr_exercise_preference,
               mbr_knee_health,
               mbr_noise_consideration,
               mbr_sitting_duration,
               mbr_neck_shoulder_focused
        FROM member
        WHERE mbr_seq = #{mbrSeq}
    </select>
    <update id="updateOneMemberById" parameterType="MemberDTO">
        UPDATE MEMBER
        <set>
            <if test="mbrTotalPoint != null">mbr_total_point = #{mbrTotalPoint},</if>
            <if test="mbrTotalExp != null">mbr_total_exp = #{mbrTotalExp},</if>
            <if test="mbrWeight != null">mbr_weight = #{mbrWeight},</if>
            <if test="mbrExerciseGoal != null">mbr_exercise_goal = #{mbrExerciseGoal},</if>
            <if test="mbrExerciseExperienceLevel != null">mbr_exercise_experience_level = #{mbrExerciseExperienceLevel},</if>
            <if test="mbrExercisePreference != null">mbr_exercise_preference = #{mbrExercisePreference},</if>
            <if test="mbrKneeHealth != null">mbr_knee_health = #{mbrKneeHealth},</if>
            <if test="mbrNoiseConsideration != null">mbr_noise_consideration = #{mbrNoiseConsideration},</if>
            <if test="mbrSittingDuration != null">mbr_sitting_duration = #{mbrSittingDuration},</if>
            <if test="mbrNeckShoulderFocused != null">mbr_neck_shoulder_focused = #{mbrNeckShoulderFocused},</if>
        </set>
        WHERE mbr_id = #{mbrId}
    </update>
</mapper>