<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.backend.hyunfit.domain.rtn.mapper.RoutineMapper">
    <select id="selectAllRoutineFilteredSearch" parameterType="RoutineDTO" resultType="RoutineDTO">
        SELECT
            RTN_SEQ,
            ADM_SEQ,
            RTN_NAME,
            RTN_CONTENT,
            RTN_CREATED_DATE,
            RTN_THUMBNAIL_URL,
            RTN_TARGET,
            RTN_DURATION,
            RTN_EXPERIENCE_LEVEL
        FROM ROUTINE
        WHERE RTN_TARGET = #{rtnTarget} AND RTN_DURATION = #{rtnDuration} AND RTN_EXPERIENCE_LEVEL = #{rtnExperienceLevel}
    </select>

    <insert id="insertOneRoutine" parameterType="RoutineDTO">
        INSERT INTO ROUTINE (adm_seq, rtn_name, rtn_content, rtn_created_date, rtn_thumbnail_url, rtn_target,
                             rtn_duration, rtn_experience_level, rtn_goal, rtn_knee_health_considered,
                             rtn_noise_considered, rtn_long_sitter,rtn_neck_shoulder_focused,rtn_back_disk_considered,
                             rtn_reward_point)
        VALUES (#{admSeq}, #{rtnName}, #{rtnContent}, CURRENT_TIMESTAMP, 'routine', #{rtnTarget}, #{rtnDuration},
                #{rtnExperienceLevel}, #{rtnGoal}, #{rtnKneeHealthConsidered}, #{rtnNoiseConsidered},
                #{rtnLongSitter}, #{rtnNeckShoulderFocused}, #{rtnBackDiskConsidered},#{rtnRewardPoint})

        <selectKey resultType="_long" keyProperty="rtnSeq" order="AFTER">
            SELECT RTN_SEQ_PK.CURRVAL FROM DUAL
        </selectKey>
    </insert>

    <select id="selectOneRoutineByRtnSeq" parameterType="_long" resultType="RoutineDTO">
        SELECT *
        FROM ROUTINE
        WHERE RTN_SEQ = #{rtnSeq}
    </select>

    <delete id="deleteOneRoutineByRtnSeq" parameterType="_long">
        DELETE ROUTINE
        WHERE RTN_SEQ = #{rtnSeq}
    </delete>

</mapper>