<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.backend.hyunfit.domain.rtn.mapper.RoutineMapper">

    <select id="selectAllRoutineSearch" parameterType="RoutineSearchDTO" resultType="RoutineDTO">
        SELECT RTN_SEQ,
        ADM_SEQ,
        RTN_NAME,
        RTN_CONTENT,
        RTN_CREATED_DATE,
        RTN_TARGET,
        RTN_DURATION,
        RTN_EXPERIENCE_LEVEL,
        RTN_REWARD_POINT
        FROM ROUTINE
        <where>
            <if test="rtnTarget != null">
                RTN_TARGET = #{rtnTarget}
            </if>
            <if test="rtnDuration != null">
                AND RTN_DURATION = #{rtnDuration}
            </if>
            <if test="rtnExperienceLevel != null">
                AND RTN_EXPERIENCE_LEVEL = #{rtnExperienceLevel}
            </if>
        </where>
    </select>

    <resultMap id="RoutineResultMap" type="RoutineDTO">
        <id property="rtnSeq" column="RTN_SEQ"/>
        <result property="admSeq" column="ADM_SEQ"/>
        <!-- 기타 RoutineDTO의 다른 필드 매핑 -->
        <collection property="exercises" ofType="ExerciseDTO" javaType="java.util.ArrayList">
            <id property="excSeq" column="EXC_SEQ"/>
            <result property="admSeq" column="EXC_ADM_SEQ"/>
            <!-- 기타 ExerciseDTO의 다른 필드 매핑 -->
        </collection>
    </resultMap>

    <insert id="insertOneRoutine" parameterType="RoutineDTO">
        INSERT INTO ROUTINE (adm_seq, rtn_name, rtn_content, rtn_created_date, rtn_target,
                             rtn_duration, rtn_experience_level, rtn_goal, rtn_knee_health_considered,
                             rtn_noise_considered, rtn_long_sitter,rtn_neck_shoulder_focused,rtn_back_disk_considered,
                             rtn_reward_point)
        VALUES (#{admSeq}, #{rtnName}, #{rtnContent}, CURRENT_TIMESTAMP, #{rtnTarget}, #{rtnDuration},
                #{rtnExperienceLevel}, #{rtnGoal}, #{rtnKneeHealthConsidered}, #{rtnNoiseConsidered},
                #{rtnLongSitter}, #{rtnNeckShoulderFocused}, #{rtnBackDiskConsidered},#{rtnRewardPoint})

        <selectKey resultType="_long" keyProperty="rtnSeq" order="AFTER">
            SELECT RTN_SEQ_PK.CURRVAL FROM DUAL
        </selectKey>
    </insert>

    <select id="selectOneRoutineByRtnSeq" parameterType="_long" resultType="RoutineDTO">
        SELECT *
        FROM ROUTINE
        WHERE RTN_SEQ = #{rtnSeq}
    </select>

    <delete id="deleteOneRoutineByRtnSeq" parameterType="_long">
        DELETE ROUTINE
        WHERE RTN_SEQ = #{rtnSeq}
    </delete>

    <update id="updateOneRoutine" parameterType="RoutineDTO">
        UPDATE ROUTINE SET
            rtn_name = #{rtnName},
            rtn_content = #{rtnContent},
            rtn_target = #{rtnTarget},
            rtn_duration = #{rtnDuration},
            rtn_experience_level = #{rtnExperienceLevel},
            rtn_goal = #{rtnGoal},
            rtn_knee_health_considered = #{rtnKneeHealthConsidered},
            rtn_noise_considered = #{rtnNoiseConsidered},
            rtn_long_sitter = #{rtnLongSitter},
            rtn_neck_shoulder_focused = #{rtnNeckShoulderFocused},
            rtn_back_disk_considered = #{rtnBackDiskConsidered},
            rtn_reward_point = #{rtnRewardPoint}
        WHERE RTN_SEQ = #{rtnSeq}
    </update>
</mapper>